/* ESTILOS GENERALES */
body {
    font-family: Arial, sans-serif;
    background-color: #1a1a1a;
    color: white;
    text-align: center;
    margin: 0;
    padding: 0;
}

/* Header */
header {
    background-color: #333;
    color: white;
    padding: 10px 20px;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo-img {
    width: 40px;
    height: 40px;
}

.logo-text {
    font-size: 1.5rem;
    font-weight: bold;
    color: #f4a261;
    margin: 0;
}

nav .menu {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}

nav .menu li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: bold;
    transition: color 0.3s;
}

nav .menu li a:hover {
    color: #f4a261;
}

/* Home SECCION 1*/
.home {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    background: url("img/home.jpg.jpg") center/cover no-repeat;
}

.home .descripcion {
    background: rgba(0, 0, 0, 0.7);
    padding: 20px 40px;
    border-radius: 10px;
    color: #fff;
    text-align: center;
}

.home .descripcion h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.home .descripcion p {
    font-size: 1.2rem;
    line-height: 1.8;
    color: #f4a261;
}

/* Footer */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    width: 100%;
}

footer p {
    font-size: 14px;
    margin: 0;
}

/* Filters */
.filters {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 20px;
}

select, input, button {
    padding: 10px;
    font-size: 16px;
}

/* Book Grid */
.libros-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin: 20px;
}

.libro-card {
    background: #4a2c2a;
    padding: 10px;
    border-radius: 8px;
    text-align: center;
    width: 200px;
    cursor: pointer;
    transition: background 0.3s, color 0.3s;
}

.libro-card img {
    width: 100%;
    border-radius: 8px;
}

.libro-card:hover {
    background: #f4a261;
    color: black;
}

